.empImg {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.loginPage {
  background:linear-gradient(rgba(52, 51, 51, 0.8),rgba(52, 51, 51, 0.8)),url('Images/image 1.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.userLoginPage {
  background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.8)),url('Images/foruser.jpeg');
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.restroPage {
  background:linear-gradient(rgba(49, 49, 49, 0.2),rgba(0,0,0,0.5)),url('Images/1a.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.customerPage {
  background:linear-gradient(rgba(49, 49, 49, 0.5),rgba(0,0,0,0.8)),url('Images/2b.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
}

/* Styles for login form - semi-transparent background and white text */
.loginForm {
  background-color: rgba(0, 0, 0, 0.525);
  color: white;
  border: 0.2px solid white;
  border-radius: 10px;
  padding:20px 20px!important;
  width: 320px;
}
.colorOrange {
  background-color: #4883a1 !important;
  border: 0 !important;
  /* width: 60px!important; */
  padding-top: 6.5px!important;
  padding-bottom: 6.5px!important;
}
/* Styles for nav link text and icons - white color */
.nav-link,
.nav-link span,
.nav-link i {
  color: white;
}

.iconSize {
  font-size: 20px !important;
  margin-bottom: 0px;
  text-align: center!important;
  /* margin-left: 50px!important; */
  /* text-align: center; */
  /* margin */
}
.sideBarP {
  text-align: center;
  font-size: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
}


/* Styles for restaurant images - sets a fixed size and makes them round */
.restaurant_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Styles for landing page - sets positioning and size */
.landingpage {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Styles for landing page image - sets background image and size */
/* .image.landingPage {
  background: url("Images/backgrounddetails.jpg") no-repeat
    center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */
/* Styles for landing page image - sets background image and size */
.image.landingPage {
  background: url("Images/backgrounddetails.jpg") no-repeat center center;
  background-size: cover;
  height: 80vh; /* Adjust the height as needed */
  width: 100%;
}


.landingpage_nav {
  position: relative;
  z-index: 10;
}

/* Styles for header content - sets positioning, color, and alignment */
.header_content {
  position: relative;
  z-index: 10;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
}

/* Styles for h1 and p in header content - sets font size */
.header_content h1,
.header_content p {
  font-size: 2.5rem; /* h1 */
  margin-bottom: 1rem; /* h1 */
  font-size: 1.2rem; /* p */
}

/* Styles for button group - sets alignment */
.btn_group {
  display: flex;
  justify-content: center;
}

/* Styles for landing middle "LOGIN" page button - sets padding, font size, border, background color, text color, margin, and display type */
.landing_btn {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #f85e69;
  color: #fff;
  margin-top: 10px;
  display: inline-block;
}

/* Styles for top landing button - similar to landing page button, but with different padding and font size */
.top_landing_btn {
  padding: 7px 15px;
  font-size: 11px;
  border: none;
  border-radius: 6px;
  background: #f85e69;
  color: #fff;
  margin-top: 10px;
  display: inline-block;
}

/* Styles for dropdown color */
.ddColor {
  color: #fff; /* Color for dropdown items */
}

/* Styles for dropdown items - sets border and color */
.my-custom-dropdown .dropdown-item {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.my-custom-dropdown .dropdown-menu {
  /* transform: translateX(-7px); 
  width: 90px !important; 
  min-width: 0 !important; */
  top: 34px !important;
  background-color: #3391b3;
}

/* Styles for last dropdown item - removes border */
.my-custom-dropdown .dropdown-item:last-child {
  border-bottom: none;
}

/* Styles for overlay on landing page image - sets color, size, and opacity */
.bg-overlay {
  background: rgba(0, 0, 0, 0.704); /* Adjust the opacity value as needed */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* Styles for dropdown toggle - sets background color, text color, padding, and font size */
.my-custom-dropdown .dropdown-toggle {
  background-color: #ff702a !important;
  color: #fff !important;
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 3px;
  border: none;
}
.dropdown-toggle::after {
  display: none !important;
}

/* Styles for dropdown toggle on hover and when dropdown is shown - changes background color */
.my-custom-dropdown .dropdown-toggle:hover,
.my-custom-dropdown.show .dropdown-toggle {
  background-color: #ff702a !important;
}

/* Styles for dropdown item on hover - changes background color and text color */
.my-custom-dropdown .dropdown-item:hover {
  background-color: white !important;
  color: #ff702a !important;
}

/* Styles for dropdown menu - sets background color */
.my-custom-dropdown .dropdown-menu {
  background-color: #ff702a;
  border-radius: 0;
}

/* Styles for navbar container - sets padding on top */
.navbar-container {
  padding-top: 8px; /* Adjust this value to move the navbar down i.e of landing page only*/
}

.sidebarColor {
  color: rgb(130, 110, 210);
}

.custom-sidebar {
  /* background-color: #e37f5d; Replace "your-color" with the color of your choice */
  color: #fff;
  /* background-color: #84812f; */
  /* background-color: #598bdc; */
  background-color: #45656a;
  /* width: 50px!important; */
  
  width: 80px !important;
}

.dashboardBar {
  /*use this for changing color of dashboard topic i.e "Restaurant Listing System" */
  background-color: #7099ae; /* Replace "your-color" with the color of your choice */
  color: #fff;
}

.custom-container {
  max-width: 800px !important; /* Adjust this value as needed */
}

.customeDesign {
  /* background-color: #f5b099; */
  /* background-color: #82af8e; */
  background-color: #365459;
  color:#fff;
}

.customCard {
  background-color: #7099ae;
  padding: 20px 0px;
  color: #fff;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.btnCustom {
  color: #fff;
  background-color: #4883a1 !important;
  border: 0 !important;
}

.navRestaurant {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 2rem;
  align-items: center;
  min-height: 50px;
  background-color: #82af8e;
}
.navRestaurant .navLogoRestro {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}
.custombutton {
  border: none;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}
.restaurant-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.custombutton::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  margin-top: 3px;
  right: 100px;
  border-radius: 360px;
  background-color: #ff702a;
}
.restaurantBody {
  background-color: #9f9f9f;
  min-height: 400px;
  width: 80%;
  background: url("/Images/restroBG.jpg") no-repeat
    center center;
  background-size: cover;
  border-radius: 0px 0px 42px 42px;
}

.restaurantDetailsList {
  position: relative;
  width: 80%;
}
.restroImage {
  position: absolute;
  left: 30px;
  margin-top: -50px;
}
.restro {
  width: 160px;
  border-radius: 360px;
  border: 4px solid #fff;
}

.restroName {
  margin-left: 220px;
  margin-top: 20px;
}

.restroOtherDetails {
  width: 80%;
  margin-top: 20px;
  background-color: #f2f2f2;
  border-radius: 12px;
  padding: 20px 24px;
  color: #025b6b;
  margin-bottom: 100px;
}
.restroOtherDetails h3 {
  font-size: 16px;
  font-weight: 500;
}

.pageNotFound{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}
.pageNotFound h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 42px;
  font-weight: 700;
}
.pageNotFound button{
  border: none;
  padding: .7rem 2rem;
  background-color: #008cba;
  border-radius: 6px;
}
.pageNotFound button a{
text-decoration: none;
color: #ffffff;
}

.btn-primary{
  background-color: #008cba !important;
}

.navbar-expand {
  flex-wrap: nowrap;
  justify-content: space-around !important;
  padding: 12px !important;
}

.restaurantDescription {
  margin-top: 0px;
  margin-bottom: 50px;
}

.descriptionBox {
  /* border: 1px solid #ccc; */
  padding: 15px;
  /* background-color: #f9f9f9; */
  border-radius: 5px;
  max-width: 88%; /* Set the maximum width to 80% of the parent container */
  margin: 0 auto; /* Center the box horizontally */
  font-size: 17px;
  font-style: italic;
}

.DescriptionTitle{
  /* margin-left: 235px;
  margin-bottom: 20px; */
  text-align: center;
}


/*for menu styling*/
/* Add this CSS to your style.css file */

/* Style for the fixed-sized rectangular boxes for carousel images */
.carousel-image-box {
  width: 600px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  margin: 0 auto; /* Center the boxes horizontally */
}

/* Style for the carousel images */
.carousel-image {
  max-width: 100%; /* Ensure images fit within the boxes */
  max-height: 100%; /* Ensure images fit within the boxes */
  display: block; /* Remove any default image margins */
  margin: 0 auto; /* Center the images horizontally within the boxes */
}

/* Style for the Prev and Next buttons */
.carousel-buttons {
  text-align: center; /* Center the buttons horizontally */
  margin-top: 0px; /* Adjust the margin as needed */
}

/* Style for the Prev and Next button individually */
.btn-primary {
  margin: 5px; /* Adjust the margin as needed */
}



.MenuTitle {
  margin-top: 15px;
}
/*react image*/
.menuImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}

.menu-image-container {
  margin: 10px; /* Add margin for spacing between images */
  cursor: pointer; /* Add cursor pointer for clickable effect */
}

.menu-image {
  max-width: 300px; /* Adjust the maximum width as needed */
  max-height: 300px; /* Adjust the maximum height as needed */
}


/* Style for the modal overlay */
/* Style for the lightbox */
.react-spring-lightbox {
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Style for lightbox content */
.react-spring-lightbox-content {
  max-width: 90%; /* Adjust the maximum width as needed */
  max-height: 90%; /* Adjust the maximum height as needed */
  overflow: auto; /* Add scroll if the content overflows */
}

/* Style for lightbox image */
.react-spring-lightbox-image {
  max-width: 100%; /* Ensure the image fits within the lightbox */
  max-height: 100%; /* Ensure the image fits within the lightbox */
  display: block; /* Remove any default spacing */
  margin: 0 auto; /* Center the image horizontally */
}

.titleRL {
  /* text-align: center!important; */
  /* margin-left: 100px; */
  margin-top: 20px;
  margin-bottom: 20px;
}

.DiscoverTitle {
  text-align: center;
  margin-bottom: 40px!important;
}



/* LOGOUT CSS
 /* custom-confirm-alert.css */

 .react-confirm-alert-overlay {
  /* background: none!important; Removes the background blur */
  background-color: rgba(0, 0, 0, 0.5) !important; /* Adjust the 0.5 to change the opacity */
}


.react-confirm-alert-button-group button {
  margin-right: 10px !important; /* Adjust the 10px to change the gap */
}


.react-confirm-alert-button-group > button:first-child {
  background-color: #0c8fa7; /* Sets the "Yes" button color to blue */
  color: white; /* Sets the "Yes" button text color to white */
  margin-right: 25px!important;
  margin-left: 0px;
  padding: 7px 30px;
  font-size: 12px!important;
  margin-top: 15px;
}

.react-confirm-alert-button-group > button:last-child {
  background-color: rgb(216, 48, 48); /* Sets the "No" button color to red */
  color: white; /* Sets the "No" button text color to white */
  padding: 5px 30px;
  font-size: 12px!important;
  margin-top: 15px;
  /* margin-left: px; */
}

.react-confirm-alert-button-container button {
  margin-right: 20px !important; /* Adjust the 10px to change the gap */
}

/* Adjust the container size */
.react-confirm-alert-body {
  width: 280px !important; /* Adjust the width */
  height: auto !important; /* Adjust the height */
  padding-left: 50px!important;
  padding-right: 50px!important;
}

/* Change the title size */
.react-confirm-alert-body h1 {
  font-size: 18px !important; /* Adjust the font size */
  text-align: center;
  color: red;
  margin-bottom: 15px;
}

/* Change the message size */
.react-confirm-alert-body .message-text {
  font-size: 14px !important; /* Adjust the font size */
  text-align: center!important;
  /* margin-left: 20px!important; */
}




/* Modal */
/* .modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  padding-top: 60px;
}

/* Modal Content 
.modal-image {
  margin: 5% auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

/* Close button 
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
} */



/* .lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.lightbox img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.lightbox .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.lightbox .zoom-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.lightbox .zoom-buttons button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
}

.lightbox .zoom-buttons button:hover {
  background-color: #333;
} */


.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999;
}

.lightbox img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.lightbox .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.lightbox .zoom-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.lightbox .zoom-buttons button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
}

.lightbox .zoom-buttons button:hover {
  background-color: #333;
}

.MapTitle {
  margin-top: 30px;
}
















/* 
.lightbox {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0%, -50%);
  background: rgba(0, 0, 0, 0.8);
  padding: 50px;
  max-width: 90%;
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 65px;

}

.lightbox img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease; 
}


.lightbox .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

 */
